---
import Break from "../components/Break.astro";
import Header from "../components/Header.astro";
import WhenWhere from "../components/WhenWhere.astro";
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";
import Schedule from "../components/Schedule.astro";
---

<Layout title="Welcome to Astro.">
	<div
		class="container content-center mx-auto w-auto sm:w-160 my-6 bg-white border-gold border-spacing-2 border-4"
	>
		<div class="flex flex-col border-gold border-spacing-2 border-2 pb-4 m-1">
			<Break width={"sm:w-40"} margin={"min-w-[40%]"} />
			<Header />
			<Break width={"sm:w-60"} margin={"min-w-[50%]"} />
			<Countdown />
			<Break width={"sm:w-60"} margin={"min-w-[50%]"} />
			<WhenWhere />
			<Break width={"sm:w-60"} margin={"min-w-[50%]"} />
			<Schedule />
			<Break width={"sm:w-40"} margin={"min-w-[40%]"} />
		</div>
	</div>
</Layout>
