---
import Countdown from "../components/Countdown.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
		<div class="container content-center mx-auto w-auto sm:w-160 mt-6 mx-6 mb-0 bg-white flex flex-col justify-center border-gold border-spacing-2 border-8">
			<Header/>
			<Countdown/>
		</div>
</Layout>

<style>
</style>
