---
import Layout from "../layouts/Layout.astro";
import { Background } from "../components/Background.tsx";
import { Cartouche } from "../components/Cartouche";
---

<Layout title="Welcome to Astro.">
	<div style={{  position: "absolute", width: '100%', height: '100%', }}><Background /></div>
	<div style={{ position: "absolute", width: '100%', height: '100%', padding: "20%", boxSizing: "border-box" }}>
		<Cartouche />
	</div>
</Layout>

<style></style>
