---
import { getLangFromUrl, type Language } from "../i18n/utils";
import Title from "./Title.astro";

export type Where = {
  title: string;
};

export const Locales: Record<Language, Where> = {
  en: {
    title: "Where",
  },
  fr: {
    title: "Lieux",
  },
  hy: {
    title: "Տեղերը",
  },
};

const lang = getLangFromUrl(Astro.url);
const locales = Locales[lang];

const grangeDeCondéUrl =
  "https://maps.google.com/maps?ll=49.15518,6.430987&z=15&t=m&hl=fr&gl=FR&mapclient=embed&cid=15977506881011264733";
const egliseUrl =
  "https://www.google.com/maps/place/Eglise+de+Cond%C3%A9-Northen,+57220+Cond%C3%A9-Northen/@49.1538067,6.430912,16z/data=!4m6!3m5!1s0x4794e2e5241ea67f:0xa156005a8fa1e637!8m2!3d49.1538067!4d6.430912!16s%2Fg%2F11gbk37wp8?hl=fr&gl=FR";
---

<h2 class="pt-4 text-center text-3xl"><Title>{locales.title}</Title></h2>

<span class="flex flex-row">
  <span class="grow text-center flow-root">
    <a class="text-center" href={egliseUrl}>
      <span class="text-3xl">⛪</span>
      <br />
      Église Saint Germain
      <br />
      2 Rue des Deux Nied
      <br />
      57220 Condé-Northen
    </a>
  </span>
  <span class="grow text-center flow-root">
    <a class="text-center" href={grangeDeCondéUrl}>
      <span class="text-3xl">🍽️</span>
      <br />
      La Grange de Condé
      <br />
      41 Rue des Deux Nied
      <br />
      57220 Condé-Northen
    </a>
  </span>
</span>
