---
import { type Language, getLangFromUrl } from "../../i18n/utils";
import Title from "../Title.astro";

type Header = {
  first: string;
  second: string;
};

const Locales: Record<Language, Header> = {
  en: {
    first: "Tatevik AROUTUNIAN",
    second: "Arthur WEBER",
  },
  fr: {
    first: "Tatevik AROUTUNIAN",
    second: "Arthur WEBER",
  },
  hy: {
    first: "ՏաթեՒիկ ՀԱՐՈՒԹՅՈՒՆՅԱՆ",
    second: "Արթուր ՎԵԲԵՐ",
  },
};

const lang = getLangFromUrl(Astro.url);
const locales = Locales[lang];
---

<h1 class="text-center text-3xl sm:text-4xl text-canard pt-4 px-4 font-medium">
  <Title>
    <p>{locales.first}</p>
    <p>{locales.second}</p>
  </Title>
</h1>
