---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Odalisque NF";
		font-style: normal;
		font-weight: 400;
		src:
			local("Odalisque NF"),
			url("https://fonts.cdnfonts.com/s/29279/OdalisqueNF.woff") format("woff");
	}

	:root {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
</style>
