---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}
	body {
		margin: 0;
		padding: 0;
		background-image: image-set(
			url("/palme.png") 1x,
			url("/palme@2x.png") 2x,
			url("/palme@3x.png") 3x,
			url("/palme@4x.png") 4x
		);
		background-position: center;
	}

	@font-face {
		font-family: "Park Lane NF";
		src: url("/fonts/Park Lane NF.ttf");
	}

	.text-parkLaneNF {
		font-family: "Park Lane NF", cursive;
	}

	@font-face {
		font-family: "Art Vernagrayin Unicode";
		src: url("/fonts/ArtVernagrayinU.ttf");
	}

	.text-ArtVernagrayinUnicode {
		font-family: "Art Vernagrayin Unicode", cursive;
	}

	@font-face {
		font-family: "SHK Dzeragir";
		src: url("/fonts/SHK_Dzeragir.otf") format("opentype");
	}

	.text-SHKDzeragir {
		font-family: "SHK Dzeragir", cursive;
	}

	.border-gold {
		border-color: #d4af37;
	}

	.text-canard {
		color: #264b56;
	}
</style>
