---
import type { Language } from "../i18n/utils";

interface Props {
  title: string;
  lang: Language;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="py-6 px-2">
    <div
      class="container content-center mx-auto w-auto sm:w-160 bg-white border-gold border-spacing-2 border-4 text-SHKDzeragir text-canard"
    >
      <div class="flex flex-col border-gold border-spacing-2 border-2 pb-4 m-1">
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: image-set(
      url("/palme.png") 1x,
      url("/palme@2x.png") 2x,
      url("/palme@3x.png") 3x,
      url("/palme@4x.png") 4x
    );
    background-position: center;
  }

  @font-face {
    font-family: "Park Lane NF";
    src: url("/fonts/Park Lane NF.ttf");
  }

  .text-parkLaneNF {
    font-family: "Park Lane NF", cursive;
  }

  @font-face {
    font-family: "Art Vernagrayin Unicode";
    src: url("/fonts/ArtVernagrayinU-Bold.ttf");
  }

  .text-ArtVernagrayinUnicode {
    font-family: "Art Vernagrayin Unicode", cursive;
  }

  @font-face {
    font-family: "SHK Dzeragir";
    src: url("/fonts/SHK_Dzeragir.otf") format("opentype");
  }

  .text-SHKDzeragir {
    font-family: "SHK Dzeragir", cursive;
  }

  .border-gold {
    border-color: #d4af37;
  }

  .text-canard {
    color: #264b56;
  }
</style>
